<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Test page</title>
</head>
<body>
    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
</body>
</html>