<html>
<head>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwFbuxuKbYd-zXrbXwkHRW6949uwTlXvE"
          type="text/javascript"></script>
  <%= javascript_include_tag "application" %>
</head>
    <body>
        <div id="map-view">
          <div id="map-canvas"></div>
        </div>
    </body>
</html>